html,body {
    height:100%;
}

body {
    background-color: #bebbb8;
    color: #4a4843;
    margin: 0;
    padding: 0;
}

header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #ff6f61;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
}

.navtab {
    display: inline-block;
    padding: .75em;
    height: 100%;
}

.navtab > a {
    font-weight: 900;
    font-size: 1.2em;
    color: #ffffff;
    text-decoration: none;
    margin: 0 .5em;
}

#account {
    float: right;
}

#selectedtab {
    background-color: #4a4843;
}

main {
    background-color: #ffffff;
    margin: 0 15%;
    height: 100%;
    padding-top: 50px;
}

#searchcontainer {
    width: 50%;
    padding: 20px;
    margin: auto;
}

input {
    width: 70%;
    height: 50px;
    font-size: 2rem;
    padding: 0 .5em;
    margin: auto;
}

#cardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
}
.palette {
    width: 300px;
    margin: 2em;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.palette:hover {
    cursor: pointer;
}

.setinfo > p {
    display: inline;
    margin: .5em;
}

.setinfo p:first-child {
    float: left;
}

.setinfo p:last-child {
    float: right;
}

.colorcontainer {
    width: 100%;
    height: 150px;
    display: flex;
}

.colorcontainer .color:first-child {
    border-bottom-left-radius: 10px;
}

.colorcontainer .color:last-child {
    border-bottom-right-radius: 10px;
}


.color {
    height: 100%;
    width: 20%;
    margin: 0;
}

.color1 {
    background-color: #ff6f61;
}

.color2 {
    background-color: #4a4843;
}

.color3 {
    background-color: #9c98a3;
}

.color4 {
    background-color: #ffffff;
}

.color5 {
    background-color: #91918c;
}

footer {
    position: fixed;
    left: 15%;
    bottom: 0;
    width: 70%;
    height: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-bottom: none;
    background-color: #4a4843;
}

#selectedpalette {
    margin: 0 auto;
    display: flex;
    height: 40px;
    width: 70%;
}

#coloroption {
    height: 50px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 10px;
}

.optioncontainer {
    display: inline-block;
    width: 20%;
    padding: 10px;
}

.hex {
    float: left;
    font-size: 1.5rem;
    margin: 0;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 2rem;
}

.lock {
    font-size: 1.5rem;
    border: none;
    background-color: #4a4843;
    color: #818181;
    margin: .17em 0 0 .5em;
}

.locked {
    color: #ffffff;
}