body, h1, .filter > p, .color, .hex, .lock, footer {
    margin: 0;
}

body {
    background-color: #ff6f61;
    color: #4a4843;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
}

header, .colorcontainer, #selectedpanel, .lock, .searchbox, .searchinput {
    width: 100%;
}

header, nav, #selectedpalette, #coloroption {
    margin: 0 auto;
}

h1, h2, .searchinput {
    color: #ff6f61;
}

h1, main, .filter, .searchinput {
    background-color: #ffffff;
}

h1 {
    padding-left: .5em;
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 5px;
}

nav, .palette, #selectedpanel, .lock {
    background-color: #232326;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#hamburger-menu {
    font-size: 2.5rem;
    margin-left: 0.5em;
}

.fa-bars, nav > a, .author, .hex, .locked, footer {
    color: #ffffff;
}

nav > a {
    display: none;
    font-size: 1.2rem;
    text-decoration: none;
}

address > a {
    color: inherit;
}

#account {
    float: right;
}

#selectedtab {
    background-color: #ff6f61;
}

#uppercontainer {
    background-image: url("../img/explore.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 2em;
}

h2 {
    margin: auto;
    text-align: center;
    font-size: 2rem;
    padding-top: 1em;
    text-shadow: 1px 1px 2px #232326;
    /* transform: translateY();
    transition-duration: .5s; */
}

#searchcontainer {
    width: 75%;
    padding: 20px 20px 0px 20px;
    margin: 2em auto .5em auto;
}

#filterContainer, .filter, #cardcontainer, .colorcontainer, #selectedpalette, #coloroption, .searchbox {
    display: flex;
}

#filterContainer {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: .5em;
}

.filter {
    align-items: center;
    border-radius: 20px;
    font-size: 1rem;
    padding: .5em .75em;
    color: #232326;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.fa-times, #nPalettes, .lock{
    color: #818181;
}

.fa-times {
    margin-right: .75em;
}

.filter > p, .optioncontainer {
    display: inline-block;
}

#cardcontainer {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1em;
    padding: .5em 1em 5em 1em;
}

#nPalettes {
    width: 95%;
    text-align: right;
    border-bottom: 1px solid #818181;
    font-size: .75em;
    margin: 0.5em auto;
    padding: .5em;
}

.palette {
    width: 200px;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 4px 2px -3px rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
    transition-duration: 0.5s;
    transform: scale(1);
}

.palette:hover {
    cursor: pointer;
    transition-duration: 0.5s;
    transform: scale(1.05);
}

.author {
    margin: .5em;
    font-size: .8rem;
}

.colorcontainer {
    height: 50px;
}

.color {
    height: 100%;
    width: 20%;
}

.colorcontainer .color:first-child {
    border-bottom-left-radius: 10px;
}

.colorcontainer .color:last-child {
    border-bottom-right-radius: 10px;
}

#selectedpanel {
    display: none;
    position: fixed;
    /* left: 15%; */
    left: 0;
    bottom: 0;
    height: 100px;
    padding-top: 1em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 4px 2px -3px rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
    transform: translateY(70%);
    transition-duration: .5s;
}

#selectedpanel:hover {
    transform: translateY(0);
    transition-duration: .5s;
}

#selectedpalette {
    height: 50%;
    width: 80%;
}

#coloroption {
    width: 80%;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 10px;
}

.optioncontainer {
    width: 20%;
}

.hex {
    display: none;
    float: left;
    font-size: 1.2rem;
    margin-left: 10%;
    text-transform: uppercase;
}

.lock {
    font-size: 2rem;
    border: none;
}

.lock:hover {
    cursor: pointer;
}

.searchbox {
    position: relative;
}

.searchinput {
    height: 30px;
    padding: 5px;
    border-radius: 15px 0 0 15px;
    outline: none;
    font-size: 1rem;
    border-right: none;
    border: 3px solid #ff6f61;
}

.searchinput:focus{
    color: #ff6f61;
}

.searchbutton {
    width: 55px;
    height: 46px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 0 15px 15px 0;
    border: 1px solid #ff6f61;
    background: #ff6f61;
}

footer {
    height: 100px;
    padding-top: 2em;
    text-align: center;
    font-size: .75rem;
}

address {
    font-style: normal;
}

@media (min-width: 600px) {
    #hamburger-menu {
        display: none;
    }

    nav > a {
        display: inline-block;
        padding: .75em;
        height: 100%;
    }
}

@media (min-width: 900px) {
    .lock {
        font-size: 1.5rem;
        margin-bottom: .5em;
    }

    #searchcontainer {
        width: 50%;
    }

    .searchTerm {
        padding-left: 1em;
    }

    #selectedpanel {
        left: 15%;
        width: 70%;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 4rem;
    }

    footer {
        height: 120px;
        padding-top: 60px;
    }
}

@media (min-width: 1200px) {
    .palette {
        width: 300px;
    }

    nav > a{
        font-size: 1rem;
    }
    
    .colorcontainer {
        height: 100px;
    }

    .hex {
        display: block;
    }

    .lock {
        width: auto;
        float: right;
        margin-right: 10%;
        font-size: 1.3rem;
    }

    .coloroption {
        height: 50px;
    }

    .searchinput {
        padding-left: 1em;
        font-size: 1.3rem;
    }
}