

body {
    background-color: #ff6f61;
    color: #4a4843;
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
}

header {
    width: 100%;
    margin: 0 auto;
}

h1, h2 {
    color: #ff6f61;
}

h1 {
    padding-left: .5em;
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 5px;
    background-color: #ffffff;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #232326;
    margin: 0 auto;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#hamburger-menu {
    font-size: 2rem;
    margin-left: 0.5em;
}

.fa-bars {
    color: #ffffff
}

.navtab {
    display: none;
}

address > a {
    color: inherit;
}

.navtab > a {
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
}

#account {
    float: right;
}

#selectedtab {
    background-color: #ff6f61;
}

main {
    background-color: #ffffff;
}

#uppercontainer, #uppercontainer_front {
    background-image: url("../img/explore.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 2em;
}

h2 {
    margin: auto;
    text-align: center;
    font-size: 2rem;
    padding-top: 1em;
    text-shadow: 1px 1px 2px #232326;
    /* transform: translateY();
    transition-duration: .5s; */
}

#searchcontainer {
    width: 75%;
    padding: 20px;
    margin: 2em auto;
}

#cardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1em;
    padding: 1.5em 1em 5em 1em;
}

/*delete if any thing crashes*/
#tutorial_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1em;
    padding: 1.5em 3em;
}

#tutorial_container {
    flex-direction: column;
}

.create, .explore, .apply {
    padding:10px 0;
    position: relative;
    border-bottom: 1px solid #e8edf2;
    overflow: hidden;
    width: 100%;
    padding-top: 7px;
}

.pic_holder_1, .pic_holder_2, .pic_holder_3 {
    height: 100%;
    width: 30%;
    position: absolute;    
}

.pic_holder_2 {
    left: 0;
}

.pic_holder_1, .pic_holder_3 {
    right: 0;
}

.desc, .desc_right {
    float: left;
    justify-content: center;
    text-align: center;
    padding: 3em;
}

.desc_right {
    float: right;
}

#uppercontainer_front {
    background-image: url("../img/front.jpg");
    padding-bottom: 9em;
}

#tutorial_container img {
    opacity: 0.7;
}

h4 {
    position: absolute;
    bottom: 0;
    color: #91918c;
    padding-left: 52px;
}

h4.desc_right {
    right: 0;
}

h4.desc {
    left: 0;
}
/*delete if any thing crashes*/

.palette {
    width: 200px;
    margin: 1em;
    border-radius: 10px;
    background-color: #232326;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 4px 2px -3px rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
    transition-duration: 0.5s;
    transform: scale(1);
}

.palette:hover {
    cursor: pointer;
    transition-duration: 0.5s;
    transform: scale(1.05);
}

.author {
    color: #ffffff;
    margin: .5em;
    font-size: .8rem;
}

.colorcontainer {
    width: 100%;
    height: 50px;
    display: flex;
}

.color {
    height: 100%;
    width: 20%;
    margin: 0;
}

.colorcontainer .color:first-child {
    border-bottom-left-radius: 10px;
}

.colorcontainer .color:last-child {
    border-bottom-right-radius: 10px;
}

.color1 {
    background-color: #ff6f61;
}

.color2 {
    background-color: #4a4843;
}

.color3 {
    background-color: #9c98a3;
}

.color4 {
    background-color: #ffffff;
}

.color5 {
    background-color: #91918c;
}

.color6 {
    background-color: #184A45;
}

.color7 {
    background-color: #9A9738;
}

.color8 {
    background-color: #009499;
}

.color9 {
    background-color: #FFDA29;
}

.color10 {
    background-color: #98DDDE;
}

#selectedpanel {
    position: fixed;
    /* left: 15%; */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding-top: 1em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 4px 2px -3px rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
    background-color: #232326;
    transform: translateY(70%);
    transition-duration: .5s;
}

#selectedpanel:hover {
    transform: translateY(0);
    transition-duration: .5s;
}

#selectedpalette {
    margin: 0 auto;
    display: flex;
    height: 45px;
    width: 80%;
}

#coloroption {
    width: 80%;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 10px;
}

.optioncontainer {
    display: inline-block;
    width: 20%;
}

.hex {
    display: none;
    float: left;
    font-size: 1.3rem;
    margin: 0;
    margin-left: 10%;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 2rem;
}

.lock {
    font-size: 1rem;
    border: none;
    background-color: #232326;
    color: #818181;
    width: 100%;
    margin-bottom: 1em;
}

.lock:hover {
    cursor: pointer;
}

.locked {
    color: #ffffff;
}

.searchbox {
    width: 100%;
    position: relative;
    display: flex;
}

.searchinput {
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 15px 0 0 15px;
    outline: none;
    color: #ff6f61;
    font-size: .75rem;
    border-right: none;
    border: 3px solid #ff6f61;
    background-color: #ffffff;
}

.searchinput:focus{
    color: #ff6f61;
}

.searchbutton {
    width: 55px;
    height: 46px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 0 15px 15px 0;
    border: 1px solid #ff6f61;
    background: #ff6f61;
}

footer {
    height: 100px;
    color: #ffffff;
    margin: 0;
    padding-top: 2em;
    text-align: center;
    font-size: .75rem;
}

address {
    font-style: normal;
}

@media (min-width: 600px) {
    #hamburger-menu {
        display: none;
    }

    .navtab {
        display: inline-block;
        padding: .75em;
        height: 100%;
    }
}

@media (min-width: 900px) {
    .lock {
        font-size: 1.5rem;
    }

    #searchcontainer {
        width: 50%;
    }

    .searchTerm {
        font-size: 1rem;
        padding-left: 1em;
    }

    #selectedpanel {
        left: 15%;
        width: 70%;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 4rem;
    }

    footer {
        height: 120px;
        padding-top: 60px;
    }
}

@media (min-width: 1200px) {
    .palette {
        width: 300px;
    }

    .navtab > a{
        font-size: 1.2rem;
    }
    
    .colorcontainer {
        height: 100px;
    }

    .hex {
        display: block;
    }

    .lock {
        width: auto;
        float: right;
        margin-right: 10%;
        font-size: 1.3rem;
    }

    .coloroption {
        height: 50px;
    }

    .searchinput {
        padding-left: 1em;
        font-size: 1.3rem;
    }
}